mixin hide(data)
    span(style='display:inline-flex')
        - let bias = -2*data.length -4*Math.random()|0
        - data = [].map.call(data, l => [l, bias += 1+8*Math.random()|0])
        - for(let i=data.length; i>1; i--) {
        -     let di = i * Math.random()|0
        -     let aux = data[di]
        -     data[di] = data[i-1]
        -     data[i-1] = aux
        - }
        each p in data
            i(style=`order:${p[1]}`)
                - if(p[0] == ' ')
                    != '&nbsp;'
                - else
                    = p[0]

doctype html
html(lang='en')
    != "<!--\n\n\n\nSource code available at\nhttps://github.com/za-creature/resume\n\n\n\n-->"
    head
        meta(charset='utf-8')
        meta(name='robots' content='noindex,nofollow')
        meta(name='viewport' content='width=device-width,initial-scale=1.0')
        link(rel='shortcut icon' href='/favicon.png')
        title Radu Dan
        style(type='text/css')
            include:css style.sss
    body
        header
            a.screen.right(href='javascript:print()')
                svg(version=1.1 width=60 height=60
                    viewBox='0 -256 1792 1792'
                    xmlns='http://www.w3.org/2000/svg'
                )
                    g(transform='matrix(1 0 0 -1 53.153 1270.2)')
                        path(fill='black'
                             d='m384 0h896v256h-896v-256zm0 640h896v384h-160q-40 0-68 28t-28 68v160h-640v-640zm1152-64q0 26-19 45t-45 19-45-19-19-45 19-45 45-19 45 19 19 45zm128 0v-416q0-13-9.5-22.5t-22.5-9.5h-224v-160q0-40-28-68t-68-28h-960q-40 0-68 28t-28 68v160h-224q-13 0-22.5 9.5t-9.5 22.5v416q0 79 56.5 135.5t135.5 56.5h64v544q0 40 28 68t68 28h672q40 0 88-20t76-48l152-152q28-28 48-76t20-88v-256h64q79 0 135.5-56.5t56.5-135.5z')
            h2
                | Radu Sergiu Dan
                br
                small 31, software architect, citizen
            p(title='Virtute et sapientia')
                img(alt='' align='middle'
                    width=44 height=50
                    srcset='unibuc-4x.png 4x,unibuc-3x.png 3x,unibuc-2x.png 2x'
                    src='unibuc-1x.png')
                span
                    a(href='http://fmi.unibuc.ro/') University of Bucharest
                    small  (bsc, 2011 - 2014)

        main
            h3 jobs
            dl
                dt
                    a(href='https://en.zalando.de/') Zalando SE
                    |  (
                    a(href=self['zalando'].url)
                        +hide(self['zalando'].name)
                    | )
                dd
                    | ML software engineer (python, spark, sql, aws)
                    br
                    small 2018 - 2019

                dt
                    a(href='https://trello.com/') Trello, Inc
                dd
                    | backend engineer (node.js, coffeescript)
                    br
                    small 2016 - 2017

                dt
                    a(href='https://planetary.co/') Planetary, Inc
                    |  (
                    +hide(self['planetary'])
                    | )
                dd
                    | software developer (react, nginx, php, python)
                    br
                    small 2015 - 2016

                dt
                    a(href='https://leadpages.net/') Ave81, Inc
                    |  (
                    +hide(self['leadpages'])
                    | )
                dd
                    | fullstack developer (python, html, css, js, gcloud)
                    br
                    small 2013 - 2014

                dt
                    a(href='http://activesoft.ro/') Activesoft SRL
                    |  (
                    +hide(self['activesoft'])
                    | )
                dd
                    | infrastructure engineer (linux, python, c)
                    br
                    small 2011 - 2013

            h3 tales
            ul.tales
                li
                    | built a social networking platform so I could go to
                    a(href='https://infoeducatie.ro/')  summer&nbsp;camp
                    small
                        |  (2006&nbsp;-&nbsp;2007)
                li
                    | twice silver medalist at the
                    a(href='https://oni.ro')  computer&nbsp;science&nbsp;nationals
                    small
                        |  (2005&nbsp;-&nbsp;2006)


        aside
            section
                h3 places
                ul(style='max-width:130px')
                    li(title='residence')
                        a(href='https://en.wikipedia.org/wiki/Cluj-Napoca') Cluj-Napoca
                        small.right &nbsp;🏠
                    li Berlin
                    li: a(href='https://en.wikipedia.org/wiki/Bucharest') București
                    li(title='hometown')
                        a(href='https://en.wikipedia.org/wiki/Aiud') Aiud
                        small.right &nbsp;🍼

            section
                h3 hobbies
                ul
                    li cooking
                    li tv shows
                    li music
                    li design
                    li travel

        footer
            br
            br
            fieldset
                legend get in touch
                dl
                    dt: label to
                    dd.visible
                        span.print 📫&nbsp;
                        +hide(self['email']['destination'])
                        br.screen
                        a.screen(href='key.gpg')= 'fb45 e569 76fd 2218 b34d 1302 13a6 24ec 8328 d224'

                    dt: label(for='subject') subject
                    dd: input(type='text' id='subject'
                              size='40' placeholder='what\'s this about')
                    dt: label(for='message') message
                    dd: textarea(id='message'
                                 rows='10' cols='60' placeholder='hi,')

                    dt &nbsp;
                    dd
                        label do I know where to reply?
                        br
                        button(id='submit') send
        img.print.right(alt='' width=132 height=132 src='qr.svg')
        h3#references.print links
        script(type='text/javascript')
            include:js script.js
